body, html {
    animation-name: fadeIn;
    animation-duration: 1s; /* Adjust the time as needed */
    animation-fill-mode: both; /* Ensures the final state (opacity: 1) is retained after the animation completes */
    margin: 0;
    height: 100%;
}
header {
    padding: 10px;
}
.cover-container {
    background-image: url('https://images3.alphacoders.com/779/thumb-1920-779435.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: greenyellow;
}
.featured-products h3,h4,h5,h6,p {
    color: #030303;
}
p {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
a {
    text-decoration: none !important;
}

.uppercase {
    text-transform: uppercase;
}
.text-shadowing {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.animation-from-right {
    overflow: hidden;
}
.animation-from-bottom {
    overflow: hidden;
}

.nav-link {
    text-transform: uppercase;
    color: greenyellow;
    font-weight: bold;
}

.btn-outline-secondary {
    background-color: #030303;
    color:greenyellow;
    transition: .2s;
}
.btn-outline-secondary:hover {
    color:greenyellow;
    transform: scale(1.1);
}

.hero-section h1 {
    overflow: hidden;
    animation: slideInFromLeft 2s ease-in-out;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.category-image {
    transition: 1s;
}
.category-image:hover {
    transform: scale(1.05)
}
.featured-products .card {
    border: none;
    background: transparent;
    transition: .3s;
    margin-bottom: 20px;
}

.featured-products .card:hover {
    padding: 10px;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.featured-products .card .btn {
    margin-bottom: 5px;
}

.product-image {
    min-height: 500px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    padding-bottom: 5px;
}

.category-image {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes waveAnimation {
    0% {
        border-color: blue;
    }
    25% {
        border-color: red;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: blue;
    }
}

.wave-button {
    animation: waveAnimation 4s infinite linear;
}